<article>
    <ul class="messages" #messagesList>
      <li *ngFor="let msg of messages; index as i; trackBy: trackByMessage">
        <figure class="box">
          <div class="img-user box y-center">
            <img src="{{msg.img}}">
          </div>
          <figcaption>
            <h4 class="pseudo">{{msg.pseudo}}</h4>
            <div [innerHTML]="msg.txt | bbToHtml"></div>
            <time [attr.datetime]="msg.datetime">{{msg.date}}</time>
          </figcaption>
        </figure>
      </li>
    </ul>
    <div class="editor">
      <button class="send">&gt;</button>
      <div class="text" contenteditable="true">test</div>
      <button class="options">+</button>
    </div>
</article>

