<article class="container">
  <header>
    <h2>Chat</h2>
  </header>
  <div>
    <ul class="messages">
      <li>
        <figure class="box">
          <img src="https://www.shareicon.net/data/2015/11/03/150533_game_256x256.png" height="96" width="96">
          <figcaption>
            <h4 class="pseudo">Vol4n3</h4>
            <p>bonjour<br>qslkdj</p>
            <time>2h00</time>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class="box">
          <img src="https://www.shareicon.net/data/2015/11/03/150533_game_256x256.png" height="96" width="96">
          <figcaption>
            <h4 class="pseudo">Vol4n3</h4>
            <p>bonjour</p>
            <time>2h00</time>
          </figcaption>
        </figure>
      </li>
    </ul>
    <div class="editor">
      <div class="text" contenteditable="true">test</div>
      <button class="options">+</button>
    </div>
  </div>
  <footer>

  </footer>
</article>

