@import "../../../assets/styles/declaration";

article {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
}
.resize{
  position: absolute;
  background-color: $neutral;
  width: 12px;
  height: 12px;
  bottom: 0;
  right: 0;
  cursor: nw-resize;
}
header {
  background-color: $black;
  padding: 5px 20px;
  cursor: move;
  user-select: none;
  h4 {
    font-family: 'Gochi Hand', sans-serif;
    color: $alert;
    margin: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.messages {
  overflow-y: auto;
  max-height: calc(100% - 135px);
  background-color: $transparent-dark;
  color: $light;
  padding: 10px;
  padding-bottom: 70px;
  margin: 0 0 10px;
  position: relative;
  figure {
    margin-left: 10px;
    .img-user {
      min-width: 5.3rem;
      max-height: 4.4rem;
      overflow: hidden;
      margin-right: 10px;
    }
    .img-user img {
      width: 5.3rem;
      height: auto;
      margin: 0 auto;
    }

  }
  li {
    list-style: none;
  }
  .pseudo {
    color: $neutral;
  }
  time {
    font-size: 0.8rem;
    color: $neutral;
  }
}

.editor {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 3rem 20px 40px;
  color: $light;
  border: 1px $neutral solid;
  background-color: $transparent-dark;
  box-sizing: border-box;
  .send, .options {
    position: absolute;
    top: 20px;
    font-size: 1.2rem;
    font-weight: 900;
    background: transparent;
    padding: 0 7px;
    margin: 0;
    border: none;
    color: inherit;
    cursor: pointer;
  }
  .send {
    left: 10px;
  }
  .options {
    right: 10px;

  }
  .text {
    font-size: 1.2rem;
    padding: 0 10px;
    border: none;
    color: inherit;
    min-height: 20px;
  }
}
