<section>
  <div class="box spaced" [ngClass]="{'auto':!logged}">
    <button *ngIf="!logged"  class="btn" (click)="toggleFormLogin()" type="button">Connection</button>
    <button *ngIf="!logged" class="btn btn-primary" (click)="toggleFormRegister()" type="button">Enregistre toi!</button>
    <button *ngIf="logged" class="btn right" (click)="logout()">Bye !</button>
  </div>
  <form *ngIf="!logged && askLog" #login_form (submit)="submit(login_form)" class="box margin-y down auto spaced" [@slide]>
    <label class="placeholder">
      <input name="pseudo"
             (keyup)="checkLength(login_form)"
             [ngClass]="{'confirm' : isCorrectLength}"
             type="text"
             placeholder="Pseudo"
             required
             minlength="3">
      <span>Pseudo</span>
    </label>
    <label class="placeholder">
      <input (keyup)="confirmPassword(login_form)"
             [ngClass]="{'confirm' : isConfirm}"
             name="password"
             type="password"
             placeholder="Mot de passe"
            required>
      <span>Mot de passe</span>
    </label>

    <label class="placeholder"
           *ngIf="isRegister"
           [@slide]>
      <input (keyup)="confirmPassword(login_form)"
             [ngClass]="{'confirm' : isConfirm}"
             name="pass_confirm"
             type="password"
             placeholder="Confirmation MDP">
      <span>Confirmation MDP</span>
    </label>
    <label class="placeholder"
           *ngIf="isRegister"
           [@slide]>
      <input name="email" type="email" placeholder="Email">
      <span>Email</span>
    </label>
    <input class="btn" type="submit" [@error]="toggleErrorAnimation">
  </form>
</section>
