@import "../assets/styles/declaration";
main{
  padding-top: 120px;
}
h1,h2{
  color: $neutral;
  margin-right: 10px;
}
header{
  background-color: $transparent-dark;
  position: absolute;
  top:0 ;
  left: 0;
  width:100%;
  box-shadow: 0 4px 20px #000;
}
