<main (mousedown)="hideLogin($event)">
  <nav class="container">
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </nav>
  <router-outlet></router-outlet>
  <app-chat></app-chat>
  <header #mainHeader id="mainHeader">
    <div class="box mobile wrap-reverse container">
      <div>
        <h1>{{title}}</h1>
        <h2>Site en construction</h2>
      </div>
      <div class="right">
        <app-login></app-login>
      </div>
    </div>
  </header>
  <footer></footer>
  <app-hover-preview></app-hover-preview>
</main>
