<main (mousedown)="hideLogin($event)">
  <nav></nav>
  <article class="container">
    <header>
      <h3>Info:</h3>
      <p>
        Je recherche un Logo afin de donner une identité pour ce site, je paye 20€.
      </p>
      <p>
        Si vous souhaitez aussi retrouver un serveur Volcraft comme sur la 1.7/1.8 de l'époque parlez en dans le chat
      </p>
      <a href="mailto:jcvolan@gmail.com">Contact moi sur jcvolan@gmail.com</a>
    </header>
  </article>
  <app-chat></app-chat>
  <header #mainHeader id="mainHeader">
    <div class="box mobile wrap-reverse container">
      <div>
        <h1>{{title}}</h1>
        <h2>Site en construction</h2>
      </div>
      <div class="right">
        <app-login></app-login>
      </div>
    </div>
  </header>
  <footer></footer>
</main>
