<main>

  <nav></nav>
  <article class="container">
    <p>
      Je recherche un Logo pour ce site,
      <br>bientôt tu pourras le proposer à travers ce site,
      <br>le logo choisi par la communauté
      <br>sera récompensé par un don de 20€.
    </p>
  </article>
  <app-chat></app-chat>
  <header>
    <div class="box mobile wrap-reverse container">
      <div>
        <h1>{{title}}</h1>
        <h2>Site en construction</h2>
      </div>
      <div class="right">
        <app-login></app-login>
      </div>
    </div>
  </header>
  <footer></footer>
</main>
