@import "assets/styles/declaration";

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(./assets/font/sourcecodepro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(./assets/font/opensans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 1rem;
  font-family: 'Open Sans', 'Source Code Pro', sans-serif;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 1110px) {
  html {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 786px) {
  html {
    font-size: 0.80rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.75rem;
  }
}

html, body {
  margin: 0;
}

body {
  /*background: $light url(http://www.mulierchile.com/cool-gamer-desktop-backgrounds/cool-gamer-desktop-backgrounds-003.jpg) center no-repeat;*/
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h1 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1.2rem;
  margin: 0 0 5px 0;
}

* {
  &:focus {
    transition: all 0.3s;
    box-shadow: 0 0 10px 3px $primary;
  }
  &.confirm:focus {
    box-shadow: 0 0 10px 3px $secondary;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 1rem;
  }
}

input {
  width: 100%;
  padding: 10px .75rem;
  font-size: 1rem;
  background: transparent;
  border: 1px solid $neutral;
  box-sizing: border-box;
  display: inline-block;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

a {
  color: $primary;
  &:hover {
    color: $secondary;
  }
  &:visited {
    color: $primary-light;
  }
}

.placeholder {
  position: relative;
  display: inline-block;
  input {
    padding: 18px .75rem 2px .75rem;
  }
  span {
    position: absolute;
    font-size: 0.9rem;
    opacity: 0;
    transition: all 0.3s;
    top: 2px;
    left: 40px;
    color: $neutral;
  }
  input:focus::placeholder {
    opacity: 0;
  }
  input:focus + span {
    opacity: 1;
    left: 10px;

  }
}

.bg-light {
  background-color: $light;
}

.bg-dark {
  background-color: $dark;
}

.bg-light-translucent {
  background-color: rgba(255, 252, 252, 0.8);
}

.bg-dark-translucent {
  background-color: rgba(53, 51, 53, 0.8);
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: 0.12rem;
  user-select: none;
  color: $neutral;
  border: 1px solid $neutral;
  padding: .5rem 0.5rem;
  font-size: 1.05rem;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  transition: 0.4s all ease-in-out;
  &.btn-primary {
    color: $primary;
    border: 1px solid $primary;
  }
  &.btn-alert {
    color: $alert;
    border: 1px solid $alert;
  }
  &:hover {
    color: $light;
    border: 1px solid $light;
  }
}

.box {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.y-center {
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &.down {
    flex-direction: column;
  }
  &.up {
    flex-direction: column-reverse;
  }
  &.inverse {
    flex-direction: row-reverse;
  }
  &.auto > * {
    flex-grow: 1;
  }
  > .spread {
    flex-grow: 1;
  }
  &.down.spaced > *:not(:first-child) {
    margin-top: 10px;
  }
  &.spaced:not(.down):not(.up) > *:not(:first-child) {
    margin-left: 10px;
  }
}

.margin-y {
  margin-bottom: 10px;
  margin-top: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.two-thirds {
  width: calc(100% * 2 / 3);
}

.half {
  width: 50%;
}

.third {
  width: calc(100% / 3);
}

.quarter {
  width: 25%;
}

.right:not(.absolute) {
  margin-left: auto;
}

.right.absolute {
  right: 0;
}

@media screen and (max-width: 769px) {
  .box {
    &.mobile {
      justify-content: center;
      > .right {
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 786px) {
  .half-desktop {
    width: 50%;
  }
  .two-thirds-desktop {
    width: calc(100% * 2 / 3);
  }
  .third-desktop {
    width: calc(100% / 3);
  }
  .quarter-desktop {
    width: 25%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: $light;
  border: 0 outset $light;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $light;
}

::-webkit-scrollbar-thumb:active {
  background: $neutral;
}

::-webkit-scrollbar-track {
  background: $dark;
  border: 0 none $light;
  border-radius: 0;
}

::-webkit-scrollbar-track:hover {
  background: $dark;
}

::-webkit-scrollbar-track:active {
  background: $dark;
}

::-webkit-scrollbar-corner {
  background: $dark;
}
