@import "assets/styles/declaration";
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(./assets/font/sourcecodepro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(./assets/font/opensans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html{
  font-size:1rem;
  font-family: 'Open Sans','Source Code Pro', sans-serif;
}
@media screen and (max-width: 1440px){
  html {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 1280px){
  html {
    font-size: 0.90rem;
  }
}
@media screen and (max-width: 1110px){
  html {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 786px){
  html {
    font-size: 0.80rem;
  }
}
@media screen and (max-width: 480px){
  html {
    font-size: 0.75rem;
  }
}
html,body{
  margin: 0;
  background-color: $dark;
}
.container{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2.2rem;
}
h3{
  font-size: 1.9rem;
}
h4{
  font-size: 1.7rem;
}
h5{
  font-size: 1.5rem;
}
h6{
  font-size: 1.1rem;
}
p{
  font-size: 1.2rem;
}
