$neutral: #8d8d98;
$light: #fefcfc;
$secondary: #8bd442;
$primary: #7979d4;
$primary-light: #00ccff;
$alert: #ffaa35;
$danger: #bf642f;
$light-brown: #e6cc80;
$dark: #353335;
$black: #12110f;
$transparent-dark: rgba(0,0,0,0.9);
